<?xml version="1.0" encoding="UTF-8"?>
<service id="owncloud-buteo-contacts">
  <type>carddav</type>
  <name>OwnCloud Contacts</name>
  <provider>owncloud</provider>

  <template>
    <setting name="server_path">remote.php/dav/</setting>
  </template>
</service>
